-server
-Xmx2G
-XX:InitialRAMPercentage=50
-XX:MaxRAMPercentage=50
-XX:G1HeapRegionSize=32M
-XX:+ExplicitGCInvokesConcurrent
-XX:+ExitOnOutOfMemoryError
-XX:+HeapDumpOnOutOfMemoryError
-XX:HeapDumpPath=/data/trino/heapdump.hprof
-XX:+UseG1GC
-XX:-OmitStackTraceInFastThrow
-XX:+ResizeTLAB
-XX:+PerfDisableSharedMem
-Djdk.attach.allowAttachSelf=true
-Djdk.nio.maxCachedBufferSize=2000000